# tensor dumps
*.pt

# Local dataset archives (download separately; too large for regular GitHub)
reproduction/mdcath_release/*.tar.xz
# Compiler Output #
###################
*.py[cod]
*.so
*.o
*.exe
*.class

# Folders #
###########
bin/
build/
dist/
local/
tmp/
__pycache__/
*.egg-info/
.ipynb_checkpoints/
.vscode/
.idea/
esm/dev

# Junk #
########
.DS_Store*
.*.swp
*.swp
*.log
*~
